<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="title-index"> Inicio de sesión</h1>
            <hr>
            <form action="/inicio/iniciar-sesion" method="post">
                <div class="form-group">
                    <label for="username">Nombre de usuario</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <button type="submit" class="btn btn-light btn-block" > Iniciar sesión</button><br>
                <small class="text-muted">¿Aún no estás registrado? <a href="/inicio/registro">Regístrate aquí</a></small><br>
            </form>
        </div>
    </div>
</div>

{{#if message}}
<div class="error-message" style="background: rgb(160, 179, 125);text-align: center;padding: 0 5px;border-radius:20%;margin-top:70px;margin-left:700px;width: 300px;height: 40px;	line-height: 40px;">{{ message }}
</div>
{{/if}}