<h1 class="title-glide" style="margin-bottom: 20px;">{{title}}</h1>
<h4 class="description-partial"style="margin-bottom: 20px;">{{description}}</h4>
<p style="margin-bottom: 20px;">{{address}}</p>
<p style="margin-bottom: 20px;">{{status}}</p>