<div class="contenedor">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6"></div>
    </div>
			  <p>PIDE</p>
			    <ul class="index">
      <li>porfavor</li>
      <li>please</li>
				      <li>bitte</li>
                     
			    </ul>
		</div>