<div class="contenedor">
    
    <p class="pide">PIDE</p>
    <ul class="index">
      <li>porfavor</li>
      <li>please</li>
				      <li>bitte</li>       
	</ul>
  </div>

        <img class="hero" style="margin-left: 100px; margin-top:100px;" src="./../images/logo_small_icon_only_inverted.png" alt="">
