<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css'
    integrity='sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l' crossorigin='anonymous'>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <nav class='navbar navbar-expand-lg navbar-dark bg-ligth'>
    <a class='navbar-brand' href='/'><img src="./../images/logo_small.png" alt="logo cadena de favores"></a>
    <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav ml-auto'>
        <li class='nav-item'>
          <a class='nav-link' href='/'>Inicio</a>
        </li>

        {{#if user}}
        <li class='nav-item '>
          <a class='nav-link' style="color:#298b4f"href='/inicio/cerrar-sesion'>Cerrar sesión</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link'style="color:#298b4f" href='/inicio/perfil'>Mi perfil</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' style="color:#298b4f"href='/favores'>Favores</a>
        </li>
        {{else}}
        <li class='nav-item'>
          <a class='nav-link' style="color:#298b4f"href='/inicio/iniciar-sesion'>Iniciar sesión</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' style="color:#298b4f"href='/inicio/registro'>Regístrate aquí</a>
        </li>
   
        {{/if}}
      </ul>
    </div>
  </nav>
  {{{body}}}
  <script src="/javascripts/script.js"></script>
</body>
</html>