body{
	font-family: 'Open Sans', sans-serif;
	color:#195f2a;
	background-image: url('./../images/fondo.jpg');
	background-size: inherit;
	color: ivory;

}
a{
	text-decoration: none;
	color:ivory;
}
a:hover{
	color:rgb(203, 211, 202);
}
h1{
	margin-top: 60px;
	letter-spacing: .2em;
}
small{
	font-style: oblique;
	color: ivory;
}
.btn:hover{
	color: #195f2a;
	font-weight: bold;
	font-size: 1.3em;
}
#map{
    height: 600px;
    width: 100%;
}
.nav-link{
    font-family: 'Poppins', sans-serif;
    margin-right: 20px;
    color:#195f2a;
}

.border-left-title{
    font-size: 3em;
	padding: 50px;
}
.navbar {
    border-bottom: 1px solid rgb(230,230,230);
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    width: 100%;
    padding: 5px 0;
    z-index: 9999;
    transition: all .3s;
}

.contenedor {
	display: flex;
	width: 700px;
	height: 100px;
	color: #fff;
	font-size: 80px;
	line-height: 100px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	overflow: hidden;
}

.index {
	list-style: none;
	padding-left: 40px;
	animation: cambiar 7s infinite;
}
.index li{
    padding: 0 60px;
	
}

.index, p {
	margin: 0;   
}
#profile{
	margin-top: 50px;
}
#ranking{
	font-size: 2em;
}
.title-carousel{
	border: 1px solid ivory ;
}
.glide__track{
	border: 1px solid ivory ;
}
#botones{
	margin: 50px 20px;
}
.lista-favores{
	justify-content: center;
	list-style: none;
}
.favourList{
	font-size: 1.5em;
}
#address{
	font-style: oblique;
}
@keyframes cambiar {
	
	0%{ margin-top: 0;}
	20%{ margin-top: 0;}
	
	25% {margin-top: -100px;}
	50% {margin-top: -100px;}
	
	55% {margin-top: -200px;}
	80% {margin-top: -200px;}
	
	85% {margin-top: -100px;}
	95% {margin-top: -100px;}
	
	100% {margin-top: 0;}
}


.hero:hover {filter: opacity(.7);}

.avatar-profile-view {
    margin-top: 10px;
    width: 100%;
}

.logo-small-profile-carousel {
    width: 80%
}

.title-carousel {
	justify-content: left;
	align-items: center;
	margin-left: 10px;
}

.title-carousel figure{
	width: 3%;
	margin-right: 10px;
}

.logo-small-profile-list {
    width: 100px
}
